#home {
    min-height: 90vh;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    margin-top: 70px;
    justify-content: center;
}
#homeFeed {
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
}
@media screen and (max-width: 600px) {
    #home {
        position: relative;
    }
    #homeFeed {
        margin-left: 10px;
        width: 60%;
    }
}