#profileInfo {
    min-height: 265px;
    max-height: 290px;
    width: 20%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(190,190,190);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.fa-portrait {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(0,116,177);
}
.fa-portrait:hover {
    text-decoration: none;
    color: rgb(0, 83, 177);
}
#profileInfo img {
    height: auto;
    max-height: 150px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid rgb(190,190,190);
    border-radius: 50%;
}
@media screen and (max-width: 600px) {
    #profileInfo {
        width: 30%;
    }
}