#friendList {
    max-height: 287px;
    width: 20%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(190,190,190);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
#friendList ul {
    height: 80%;
    overflow-y: scroll;
    padding: 0px;
}
#friendList li {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
    list-style: none;
    border-bottom: 1px solid rgb(190,190,190);
}
.row {
    margin: 0px;
}
.friendImg {
    height: 50px;
    width: 20%;
    margin-right: 10px;
}
@media screen and (max-width: 600px) {
    #friendList {
        position: absolute;
        top: 300px;
        left: 2.25%;
        /* height: 250px; */
        width: 30%;
    }
    .friendImg {
        height: 25px;
    }
    #friendList ul {
        height: 150px;
    }
}