#friendList {
    height: 50vh;
    width: 20%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(190,190,190);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
#friendList ul {
    height: 60%;
    overflow-y: scroll;
    padding: 0px;
}
#friendList li {
    font-size: 25px;
    list-style: none;
    border-bottom: 1px solid rgb(190,190,190);
}
@media screen and (max-width: 600px) {
    #friendList {
        position: absolute;
        top: 300px;
        left: 2.25%;
        height: 250px;
        width: 30%;
    }
}