#newsFeed ul {
    padding: 0px;
    margin-top: 20px;
}
#newsFeed li {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(190,190,190);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}
#newsFeed .row {
    margin: 0px;
}
#newsFeed .userProfile {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border: 1px solid rgb(190,190,190);
    border-radius: 50%;
}
#newsFeed p {
    margin-bottom: 0px;
    font-size: 12pt;
}
.fa-trash-alt {
    margin-top: 2px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: red;
}
.fa-trash-alt:hover {
    cursor: pointer;
    color: rgb(139, 0, 0);
}
.postImage {
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(190,190,190);
    border-radius: 2px;;
}